<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user_info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_info.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_info.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_info.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_info.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user_info.zip_code %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user_info.street %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_info.user_id %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>