<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Merchent name:</strong>
  <%= @transaction.merchent_name %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @transaction.debit %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>