<p id="notice"><%= notice %></p>
<h1>Listing Accounts</h1>
<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th>Account number</th>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.balance %></td>
        <td><%= account.account_number %></td>
        <td><%= account.user_id %></td>
        <!-- starting changing the true to OPEN-->
        <% if  account.active == true   %>
          <td><strong>Open</strong></td>
        <% else %>
          <td><strong>Closed</strong></td>
        <%end%>
        <!-- End of the status changing -->
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>
<%= link_to 'New Account', new_account_path %>